{% extends "front/base.html.twig" %}


{% block body %}
    <h1>Edit DemandeAssociation</h1>

    {{ include('demande_association/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_demande_association_index') }}">back to list</a>

    {{ include('demande_association/_delete_form.html.twig') }}
{% endblock %}
