{% extends 'back/base.html.twig' %}

{% block body %}
    <div class="content-wrapper">
        <div class="container-xxl flex-grow-1 container-p-y">
            {{ include('back/event/_form.html.twig') }}
            <a href="{{ path('event_back_index') }}" class="btn btn-secondary">Back to list</a>
        </div>
    </div>
{% endblock %}