<div class="card mb-4">
    <div class="card-header d-flex justify-content-between align-items-center">
    </div>
    <div class="card-body">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-warning">{{ button_label|default('Save') }}</button>
        {{ form_end(form) }}
    </div>
</div>