{% extends 'back/base.html.twig' %}

{% block body %}
    <div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">

        {{ include('back/association/_form.html.twig', {'button_label': 'Ajouter'}) }}

    </div>
{% endblock %}