

{% block body %}

    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>

        <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/html2canvas@0.4.1/dist/html2canvas.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>


    </head>

    <div id="qrcode" style="display: none"></div>

    <script>

        function GeneratePDFWithQRCode() {
            const { jsPDF } = jspdf;
            const doc = new jsPDF();

            // Generate QR code
            const qrCodeData = "acceptee"; // Change the URL as needed

            const key = "azertyazertyazer"; // 128-bit key (16 bytes)
            const encryptedMessage = encryptString(qrCodeData, key);

            const qrCode = new QRCode(document.getElementById("qrcode"), {
                text: encryptedMessage,
                width: 200,
                height: 200,
            });


            // Get QR code as image data
            const imageData = qrCode._el.firstChild.toDataURL("image/png");

            // Add header
            doc.setFontSize(40);
            doc.text( "{{ ddoc.type }}" , 70, 20);

            // Add paragraph
            doc.setFontSize(12);
            doc.text("Note : Les utilisateurs sont tenus de respecter scrupuleusement la confidentialité des informations \n consignées dans le document, s'abstenant ainsi  de les divulguer à des tiers sans l'autorisation \n expresse et préalable des autorités compétentes. Tout usage inapproprié, détourné ou en violation \n des dispositions clairement  établies par le règlement en vigueur est formellement proscrit et peut \n entraîner des mesures disciplinaires \n sévères. En adhérant aux termes et conditions énoncés dans le règlement, les utilisateurs consentent \n et reconnaissent pleinement leur responsabilité quant à la préservation de l'intégrité, de la \n confidentialité et de la sécurité des informations contenues dans le document officiel, \n s'engageant ainsi à agir en  conformité avec les principes éthiques et professionnels qui régissent \n son utilisation.", 9, 30);

            doc.text("\n Description du document :{{ ddoc.description }}", 70, 80);
            doc.text("\n Date Création du document  :{{ ddoc.date }}", 70, 90);
            doc.text("\n Date de Traitement :{{ ddoc.dateTraitement }}", 70, 100);



            // Add QR code image to PDF
            doc.addImage(imageData, "PNG", 70, 150);



            // Save PDF
            doc.save("Document-Baladity-tn-PDF.pdf");
        }

        // Encrypt function using AES encryption
        function encryptString(message, key) {
            // Convert key to 128-bit (16 bytes)
            const keyBytes = CryptoJS.enc.Utf8.parse(key);

            // Encrypt using AES
            const encrypted = CryptoJS.AES.encrypt(message, keyBytes, {
                mode: CryptoJS.mode.ECB,
                padding: CryptoJS.pad.Pkcs7
            });

            // Return the encrypted string
            return encrypted.toString();
        }



        GeneratePDFWithQRCode();


        window.close();

    </script>







{% endblock %}
