<!DOCTYPE html>

<title>Edit DemandeDocument</title>

{% block body %}
    <h1>Edit DemandeDocument</h1>

    {{ include('demande_document/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_demande_document_index') }}">back to list</a>

    {{ include('demande_document/_delete_form.html.twig') }}
{% endblock %}
