<!-- Navbar & Carousel Start -->
<div class="container-fluid position-relative p-0">
    {% include "front/navbar.html.twig" %}

    <div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="w-100" src="{{ asset('front/img/municipalite-Sayada.jpg') }}" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 900px;">
                        <h5 class="text-white text-uppercase mb-3 animated slideInDown text-5xl">حلول رقمية </h5>
                        <h1 class="display-1 text-white mb-md-4 animated zoomIn">إبداعية ومبتكرة</h1>
                        <a href="quote" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">About Us</a>
                        <a href="" class="btn btn-outline-light py-md-3 px-md-5 animated slideInRight">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Navbar & Carousel End -->