{% extends "front/base.html.twig" %}

{% block body %}
    {% include "front/Header.html.twig" %}
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>

    <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/html2canvas@0.4.1/dist/html2canvas.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>


</head>

    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-7">
                    <div class="section-title position-relative pb-3 mb-5">
                        <h5 class="fw-bold text-primary text-uppercase">Document</h5>


                        {% if demande.type|lower == 'budget municipal' %}

                        <h1 class="mb-0">Budget municipal</h1>
                    </div>
                    <p class="mb-4">Le budget municipal est un document financier détaillant les recettes et les dépenses prévues par une municipalité pour une période donnée, généralement pour une année fiscale.</p>
                    <div class="row g-0 mb-3">
                        <div class="col-sm-6 wow zoomIn" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: zoomIn;">
                            <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Transparence </h5>
                            <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Planification financière</h5>
                        </div>
                        <div class="col-sm-6 wow zoomIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: zoomIn;">
                            <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Participation citoyenne </h5>
                            <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Gestion efficace</h5>
                        </div>
                    </div>
                        {% elseif demande.type|lower == 'budget municipal' %}

                    <h1 class="mb-0">Plan d'urbanisme</h1>
                </div>
                <p class="mb-4"> Le plan d'urbanisme est un document qui définit les politiques, les objectifs et les règlements concernant l'aménagement du territoire dans une municipalité, y compris l'utilisation des sols, le zonage, les infrastructures et le développement économique</p>
                <div class="row g-0 mb-3">
                    <div class="col-sm-6 wow zoomIn" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: zoomIn;">
                        <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Gestion de la croissance </h5>
                        <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Préservation de l'environnement</h5>
                    </div>
                    <div class="col-sm-6 wow zoomIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: zoomIn;">
                        <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Stabilité et prévisibilité</h5>
                        <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Qualité de vie</h5>
                    </div>
                </div>

                        {% elseif demande.type|lower == 'procès-verbal' %}

                <h1 class="mb-0">Procès-verbal</h1>
            </div>
            <p class="mb-4"> Le procès-verbal de réunion du conseil municipal est un compte rendu officiel des délibérations et des décisions prises lors des réunions du conseil municipal.</p>
            <div class="row g-0 mb-3">
                <div class="col-sm-6 wow zoomIn" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: zoomIn;">
                    <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Transparence et responsabilité</h5>
                    <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Historique officiel</h5>
                </div>
                <div class="col-sm-6 wow zoomIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: zoomIn;">
                    <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Communication interne</h5>
                    <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Référence pour les décisions futures</h5>
                </div>
            </div>

            {% else %}
            <h1 class="mb-0">Document X</h1>
        </div>
        <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum et tempor sit. Aliqu diam amet diam et eos labore. Clita erat ipsum et lorem et sit, sed stet no labore lorem sit. Sanctus clita duo justo et tempor eirmod magna dolore erat amet</p>
        <div class="row g-0 mb-3">
            <div class="col-sm-6 wow zoomIn" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: zoomIn;">
                <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Transparence et responsabilité</h5>
                <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Participation citoyenne</h5>
            </div>
            <div class="col-sm-6 wow zoomIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: zoomIn;">
                <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Gestion efficace</h5>
                <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Stabilité et prévisibilité</h5>
            </div>
        </div>
            {% endif %}

                    <a  href="#" onclick="return openNewWindow();"  class="btn btn-primary py-3 px-5 mt-3 wow zoomIn" data-wow-delay="0.9s" style="visibility: visible; animation-delay: 0.9s; animation-name: zoomIn;">Acheter la version PDF</a> {#  onclick="GeneratePDFWithQRCode()"     href="{{ path('checkout')}}" #}
                    <a href="" class="btn btn-primary py-3 px-5 mt-3 wow zoomIn" data-wow-delay="0.9s" style="visibility: visible; animation-delay: 0.9s; animation-name: zoomIn;">XXXXX</a>
                </div>
                <div class="col-lg-5" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s" src="{{ asset('front/img/doc.png') }}" style="object-fit: cover; visibility: visible; animation-delay: 0.9s; animation-name: zoomIn;">
                    </div>
                </div>

    <div id="qrcode" style="display: none"></div>



            </div>
        </div>



    </div>

    <script>
        function openNewWindow() {

            var screenWidth = window.screen.width;
            var screenHeight = window.screen.height;
            var windowWidth = 600;
            var windowHeight = 900;
            var left = (screenWidth - windowWidth) / 2;
            var top = (screenHeight - windowHeight) / 2;
            var windowFeatures = 'width=' + windowWidth + ',height=' + windowHeight + ',left=' + left + ',top=' + top + ',resizable=yes,scrollbars=yes';

            var newWindow = window.open('{{ path('checkout')}}', '_blank', windowFeatures);

            // Add an event listener to check if the new window is closed
            var checkClosed = setInterval(function() {
                if (newWindow.closed) {
                    clearInterval(checkClosed); // Clear the interval when the window is closed
                    return true; // Return true when the window is closed
                }
            }, 1000); // Check every second

            // Return false to prevent the default link behavior
            return false;
        }
    </script>








{% endblock %}
