{% extends "back/base.html.twig" %}


{% block body %}
{{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}

<div class="content-wrapper">
        <div class="container-xxl flex-grow-1 container-p-y">
    {{ include('back/document/_form.html.twig') }}
        </div>
    </div>
<!--
    <a href="{{ path('app_document_index') }}">back to list</a>-->
{% endblock %}
