<!DOCTYPE html>

<title>New Document</title>

{% block body %}
    <h1>Create new Document</h1>

    {{ include('document/_form.html.twig') }}

    <a href="{{ path('app_document_index') }}">back to list</a>
{% endblock %}
