fi{% set path = app.request.getPathInfo %}$
{% set cleanPath = path|trim('/dashboard/') %}

<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
        <a href="/dashboard" class="app-brand-link">
            <span class="app-brand-text demo menu-text fw-bolder ms-2 text-uppercase">Baladity</span>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
            <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
        <!-- Dashboard -->
        <li class="menu-item">
            <a href="/dashboard" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">Dashboard</div>
            </a>
        </li>

        <li class="menu-item {{ 'ciation' in cleanPath | lower ? 'active' : '' }}">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-layout"></i>
                <div data-i18n="Layouts">Association</div>
            </a>

            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="/dashboard/association/" class="menu-link">
                        <div data-i18n="Without menu">Liste des Associations</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/dashboard/association/new" class="menu-link">
                        <div data-i18n="Without navbar">Ajouter Association</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/dashboard/demande-association/" class="menu-link">
                        <div data-i18n="Without navbar">Liste des Demandes Association</div>
                    </a>
                </li>
                <a href="/dashboard/project" class="menu-link">
                    <div data-i18n="Without menu">Liste des projets</div>
                </a>
            </ul>
        </li>
        <li class="menu-item {{ 'project' in cleanPath | lower ? 'active' : '' }}">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-layout"></i>
                <div data-i18n="Layouts">Projet</div>
               
            </a>

            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="/dashboard/project/new" class="menu-link">
                        <div data-i18n="Without navbar">Ajouter Projet</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/dashboard/project-tasks" class="menu-link">
                        <div data-i18n="Without navbar">Liste des taches</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/dashboard/project-tasks/new" class="menu-link">
                        <div data-i18n="Without navbar">Ajouter tache</div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-layout"></i>
                <div data-i18n="Layouts">Evenement</div>
            </a>

            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="/dashboard/event/" class="menu-link">
                        <div data-i18n="Without menu">Liste des Evenements</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/dashboard/event/new" class="menu-link">
                        <div data-i18n="Without navbar">Ajouter evenement</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/dashboard/membre/" class="menu-link">
                        <div data-i18n="Without navbar">Liste des membres</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/dashboard/membre/new" class="menu-link">
                        <div data-i18n="Without navbar">Ajouter Membres</div>
                    </a>
                </li>
            </ul>
        </li>

        <li class="menu-item {{ 'cument' in cleanPath | lower ? 'active' : '' }}">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-file"></i>
                <div data-i18n="Layouts">Document</div>
            </a>

            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="/dashboard/document" class="menu-link">
                        <div data-i18n="Without menu">Liste des Documents</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/dashboard/document/new" class="menu-link">
                        <div data-i18n="Without navbar">Ajouter un Document</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="{{ path('app_demande_document_front_index') }}" class="menu-link">
                        <div data-i18n="Without navbar">Les Demandes</div>
                    </a>
                </li>

            </ul>
        </li>
    </ul>
</aside>