{% extends '/back/base.html.twig' %}

{% block title %}edit citoyen !{% endblock %}


{% block body %}
    <h1>Edit Citoyen</h1>

    {{ include('back/citoyen/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_citoyen_index') }}">back to list</a>

    {{ include('back/citoyen/_delete_form.html.twig') }}
{% endblock %}
