{% extends '/back/base.html.twig' %}

{% block title %}new citoyen !{% endblock %}

{% block body %}
    <h1>Create new Citoyen</h1>

    {{ include('back/citoyen/_form.html.twig') }}

    <a href="{{ path('app_citoyen_index') }}">back to list</a>
{% endblock %}
