
{% extends 'front/home/index.html.twig' %}

{% block title %}Enter CIN{% endblock %}

{% block body %}
    <h2>Enter Your CIN</h2>
    <form action="{{ path('citoyen_cin_submit') }}" method="post">
        <input type="text" name="cin" placeholder="CIN" required>
        <button type="submit">Submit</button>
    </form>
{% endblock %}
